<ion-content [fullscreen]="true">

  <!-- Centered and rounded small card with two columns -->
  <div class="centered-small-card flex flex-col lg:flex-row floating-card">
    <!-- Right column with black background -->
    <div class="right-column lg:w-1/2 lg:order-2 lg:block pl-10 bg-black">
      <!-- Centered and big image -->
      <div class="flex items-center justify-center h-full">
          <img src="assets/picbig.png" alt="Logo" class="logo" style="width: 60%; height: auto;">
      </div>
    </div>

   <div class="left-column pl-10 pr-10 pt-10 lg:order-1">
    <img src="assets/lgoo.png" alt="Logo" class="logo">
    <p class="poppins-sb text-md primary-color-text">DIGITAL FORM ADMINISTRATION PANEL</p>
    <p class="roboto text-xs mt-4 primary-color-text-50">Welcome Back, Please login to your account</p>
    <form>
      <div class="mt-4 mb-4">
        <label for="username" class="block login-input-color-text text-xs poppins-sb mb-2">Email</label>
        <input [value]="username" (input)="updateUsername($event)" type="text" id="username" name="username"  placeholder="Type your email"
               class="w-full text-xs border primary-color-border-50 roboto rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
      </div>
  
      <div class="mb-4">
        <label for="password" class="block login-input-color-text text-xs poppins-sb mb-2">Password</label>
        <input [value]="password" (input)="updatePassword($event)" type="password" id="password" name="password" placeholder="Type your password" required
               class="w-full text-xs border primary-color-border-50 roboto rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
      </div>
  
      <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
          <input type="checkbox" id="remember" name="remember" class="mr-2">
          <label for="remember" class="text-xs roboto text-gray-600">Remember Password</label>
        </div>
        <a href="#" class="text-xs roboto text-gray-600 hover:underline">Forgot Password?</a>
      </div>

      <button type="submit" class="w-full poppins-sb text-xs primary-color-bg text-white rounded-md py-2 px-4 focus:outline-none focus:shadow-outline-blue" (click)="login()">
        Login
      </button>
    </form>
  </div>
  

    <!-- Right column with black background -->

  </div>
</ion-content>
