<div
  class="h-full bg-[#F2F1FA] flex flex-col justify-center items-center relative"
>
  <img src="./assets/check.png" alt="" class="h-20 mb-2.5" />
  <h1 class="poppins-b secondary-color-text text-2xl">Successful!</h1>
  <p class="roboto text-gray-500 text-center">
    You have successfully uploaded <br />
    the form.
  </p>
  <button
    class="poppins secondary-color-bg text-white w-2/4 absolute bottom-9 py-2 px-4 rounded-3xl"
    (click)="goToUploadPage()"
  >
    Continue
  </button>
</div>
