<ion-content [fullscreen]="true">
  <!-- Header -->
  <div class="primary-color-bg h-11 text-white flex justify-end items-end p-5">
    <ion-button (click)="logout()" class="transparent-icon-btn -mb-10">
      <ion-icon  name="log-out" class="transparent-icon"></ion-icon>
  </ion-button>
  </div>
  <div class="primary-color-bg text-white flex justify-center items-end p-5">
    <h1 class="poppins-sb text-3xl -mb-10">Profile</h1>
  </div>

  <!-- Profile Image Section -->  
  <div class="primary-color-bg h-36 flex justify-center items-center">
    <div class="bg-white rounded-full w-40 h-40 overflow-hidden flex justify-center items-center mt-28">
      <img src="assets/pic.png" alt="Your Image" class="w-full h-full object-cover" />
    </div>
  </div>

  <!-- Profile Details Section -->
  <div class="p-4 text-center mt-20">
    <p class="poppins-sb text-3xl gradient-color text-transparent bg-clip-text">{{userdata.fullname.toUpperCase()}}</p>
    <p class="primary-color-text roboto font-semibold">{{userdata.username}}</p>
  </div>

  <!-- Toggle Switch Section -->
  <!-- <div class="toggle-input-container justify-center">
    <input type="checkbox" id="toggleInput" class="toggle-input" />
    <label for="toggleInput" class="toggle-slider">
      <span class="toggle-label off">History</span>
      <span class="toggle-label on">Forms</span>
    </label>
  </div> -->
  
  <!-- <div class="content-content ml-5 mt-10">
    <div class="content-block"></div>
    <div class="header">Survey on total damages</div>
    <div class="element-ago">1d ago</div>
    <p class="he-ll-want-to-use">Mr. Tatum of Zone 4, Brgy. Makagingking Dimahanap City, Albay 4511</p>
  </div>
  <hr class="ml-16">
  <div class="content-content ml-5 mt-10">
    <div class="content-block"></div>
    <div class="header">Survey on total damages</div>
    <div class="element-ago">1d ago</div>
    <p class="he-ll-want-to-use">Mr. Tatum of Zone 4, Brgy. Makagingking Dimahanap City, Albay 4511</p>
  </div>
  <hr class="ml-16">
  
  <div class="content-content ml-5 mt-10">
    <div class="content-block"></div>
    <div class="header">Survey on total damages</div>
    <div class="element-ago">1d ago</div>
    <p class="he-ll-want-to-use">Mr. Tatum of Zone 4, Brgy. Makagingking Dimahanap City, Albay 4511</p>
  </div>
  <hr class="ml-16">
   -->


  <!-- <div class="content-content">
    <div class="content-block"></div>
    <div class="header">Total Damages Form</div>
    <div class="text-time">
      <p class="he-ll-want-to-use">
        Fill up all the necessary information of the recipient and the status of the property.
      </p>
      <div class="element-ago">Edited 8m ago</div>
      <div class="pagination">
        <div class="ellipse"></div>
        <div class="div"></div>
        <div class="ellipse-2"></div>
      </div>
    </div>
  </div> -->
  
</ion-content>
