<ion-content [fullscreen]="true">
  <div class="poppins-sb text-xl primary-color-bg h-20 text-white flex justify-between items-end p-3 mb-4">
    <div>
      <h1>Accomplished Forms</h1>
    </div>
    <div class="flex space-x-4">
          <!-- search bar -->
          <ion-input class="ion-padding search " placeholder="Search">
            <div class="IC-filter">
                <ion-icon name="search-outline"></ion-icon>
            </div>
          </ion-input>
    </div>
  </div>
  
  <div *ngFor="let data of dummyData; let i = index" class="card pl-4 pr-4 pb-3">
    <div class="bg-white h-16 w-full rounded-lg flex items-center pl-4">
        <div class="w-1/4">
            <img [src]="data.imgSrc" alt="Your image" class="w-7 h-auto object-cover rounded-lg">
        </div>
        <div class="w-1/2 text-start text-sm primary-color-text poppins-sb -ml-10">
            <p>{{data.fileName}}</p>
        </div>
        <div class="w-1/4 flex justify-end space-x-5 ml-10 pr-4">
          <ion-icon name="exit-outline" color="success" class="ion-icon-big"></ion-icon>
          <ion-icon name="trash-outline" color="danger" class="ion-icon-big" (click)="deleteCard(i)"></ion-icon>
      </div>
    </div>
</div>

  
  
 
</ion-content>
