.modal {
  color: #006398;
  background: #f2f1fa;
}
ion-icon {
  color: #8d8aa3;
}
button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  color: #006398;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
img {
  display: none;
}
