
<ion-tabs (ionTabsDidChange)="updateActiveTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Dashboard">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="communication">
      <ion-icon name="map"></ion-icon>
            </ion-tab-button>
    <!-- <ion-tab-button tab="upload-page">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="accomplishedform">
      <ion-icon name="document"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>