<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <div class="container">
    <ion-img
      src="../../assets/logo.png"
      alt="LOGO"
      class="logo"
    ></ion-img>
    <h1>FORMIFY</h1>.
  </div>
  <div class="container">
    <ion-img
      src="../../assets/pic.png"
      alt="pic"
      class="pic"
    ></ion-img>
  </div>
  <div class="container">
  <div class="inputs">
    <div class="welcome">
        <h2>Welcome Back!</h2>
    </div>
    <p>log in to your Account</p>

    
  <div class="inputwrap">
    <ion-input [value]="username" (input)="updateUsername($event)" class="ion-padding" placeholder="Agent ID"></ion-input>
    <ion-input  [value]="password" (input)="updatePassword($event)" class="ion-padding" placeholder="Password"></ion-input>
  </div>
  </div>
</div>

<div class="container">
  <div class="buttonwrap">
  <ion-buttons color="#006398" (click)="login()">LOG IN</ion-buttons><br>
</div>
</div>

</ion-content>
