<ion-content [fullscreen]="true">

  <!-- start -->
  <div class="mx-8 mt-10 mb-10">

    <!-- id name -->
    <div class="flex flex-row justify-center items-center mb-6 ">
      <div class="basis-1/6 text-center">
        <ion-buttons slot="start">
          <ion-back-button (click)="goBack()" defaultHref="tabs/communication" text=""></ion-back-button>
        </ion-buttons>
      </div>
      <div class="whitespace-nowrap">{{chat.username}}</div>
      <div class="basis-4/6 text-center">
        <p class="text-blue-600 text-2xl font-semibold"> </p>
      </div>
      <div class="basis-1/6 text-right">
        <ion-icon (click)="openSettings()" slot="icon-only" name="ellipsis-vertical"> </ion-icon>
      </div>
    </div>
    <!-- end id name -->

    <!-- start chat contents -->
    <div class="h-[440px] overflow-auto" #scrollMe>
      <ng-container *ngFor="let message of messages">
        <!-- other person -->
        <div *ngIf="message.senderid!=idKo" class="flex flex-row"> <!--  *ngIf="isMessageVisible" -->
          <div class="bg-white rounded-xl w-2/3 mt-4">
            <p class="text-gray-900 px-4 py-4"> {{message.message}} </p>
          </div>
        </div>

        <!-- me -->
        <div *ngIf="message.senderid==idKo"   class="flex flex-row-reverse">
          
          <div class="bg-blue-700 rounded-xl w-2/3 mt-4">
            <p class="text-white px-4 py-4">{{ message.message }}</p>
          </div>
        </div>
    
      </ng-container>
      
    </div>
    <!-- end chat contents -->

  </div>
  <!-- end -->

</ion-content>

<!-- Footer -->
<div class="fixed bottom-0 left-0 w-full bg-transparent py-10 px-8">
  <ion-input class="ion-padding send" placeholder="Message here..." [(ngModel)]="messageToSend">
    <ion-icon slot="end" name="arrow-up-outline" (click)="sendMessageKo()"></ion-icon>
    <!-- <ion-icon slot="end" name="arrow-down-outline" (click)="showMyMessage()"></ion-icon> -->
  </ion-input>
</div>
