<div class="w-full h-full bg-white">
  <div class="w-[20%] bg-white">
    <app-sidebar></app-sidebar>
  </div>
  <div class="-mt-72 ml-48">
  <div class="flex">
    <ion-icon class="pl-[200px] h-[40px] w-[40px] -mt-[30px] cursor-pointer" routerLink="/web/manage-form" name="arrow-back-circle-outline"></ion-icon>
</div>

  <div class="flex items-center justify-center pb-[10px]">
 
  <h1 class="poppis-b">SLA FORM TEMPLATE</h1>
   <!-- FORM -->
    
  </div>

<hr class="border-[#767676] ml-[13%] mr-[9%]">
</div>

</div>