<ion-content [fullscreen]="true" class="ion-padding">
  <div class="maintopwrap">
    <div class="topwrap">
      <div class="user"><h1 class="poppins-b">HEY, {{Agent}}! </h1></div>
      <!-- <div class="notif" (click)="openModal()">
        <ion-icon name="notifications"></ion-icon>
       <div class="badge"><h2>3</h2></div> 
      </div> -->
    </div>
    <ion-searchbar showCancelButton="focus" class="search"></ion-searchbar>

    <div class="filter mt-[20px] flex">
      <div class="flex ml-auto actions" (click)="setOpen(true)">
        <div class="text-[#006398] flex"><ion-icon class="h-[19px] w-[19px] -mt-[1px] mr-[4px]" name="{{optionicon}}"></ion-icon><h1 class="poppins font-medium new newtext">{{optiontext}}</h1></div>
        <ion-action-sheet class="poppins-b"
  [isOpen]="isActionSheetOpen"
  header="Select sorting options :"
  class="my-custom-class"
  [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false); logResult($event)"
>

</ion-action-sheet>
        <div class="bg-[white] rounded-[50px] h-[18px] w-[18px] ml-2 justify-center text-center items-center"><ion-icon name="chevron-down" class="text-[#006398] m-0"></ion-icon></div>
      </div>
      
  </div>

    <div class="boxwrap mt-[10px]">
      <div class="formwraping">  
        <ng-container *ngFor="let form of forms">
  

                <div class="forms h-[150px] w-[100%] rounded-[6px] mt-4" (click)="openForm(form.file)">
                  <div class="p-3 poppins-b">
                    <h1 class="text-[#006398] text-xl">Form {{form.index}}</h1>
                    <h1 class="text-[#006398]">Untitled</h1>
                  </div>
                <div class="footer">
                   <h1 class="m-0 poppins font-medium">No Submissions</h1>
                </div>
                </div>
    
            </ng-container>

            <ng-container>
  

              <div class="forms h-[150px] w-[100%] rounded-[6px] mt-4" (click)="openFormtemp()">
                <div class="p-3 poppins-b">
                  <h1 class="text-[#006398] text-xl">Form template for Rice</h1>
                  <h1 class="text-[#006398]">Untitled</h1>
                </div>
              <div class="footer">
  
              </div>
              </div>
  
          </ng-container>

          <ng-container>
  

            <div class="forms h-[150px] w-[100%] rounded-[6px] mt-4" (click)="openFormtemps()">
              <div class="p-3 poppins-b">
                <h1 class="text-[#006398] text-xl">Form templates for Corn</h1>
                <h1 class="text-[#006398]">Untitled</h1>
              </div>
            <div class="footer">

            </div>
            </div>

        </ng-container>
          </div>
        </div>
  
     
      </div>

      

</ion-content>
