.modal-container {
  color: #00a558;
  background-color: #f2f1fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exit-icon {
  color: #8d8aa3;
}

.form-list {
  list-style: none;
  padding: 0;
}

.form-list li {
  color: #8d8aa3;
  background-color: #80808029;
  border-radius: 4px;
  padding: 8px 0;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.form-list li.selected {
  color: #00a558;
  font-weight: 700;
  background-color: #fff;
  padding: 8px 0;
  margin-bottom: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.select-button {
  background-color: #00a558;
  color: #fff;
}
